body {
	box-sizing: border-box;
}

.banner {
	
	font-family: "Special Elite", cursive;
	font-size: 75px;
	font-style: italic;
	color: whitesmoke;
	text-align: left;
	background-image: url("Images/Books-image.jpg");
	background-position: left;
	background-repeat: no-repeat;
	border: 2px solid black;
}

